<%- include('../partials/head'); %>

  <div class="container">
    <main class="post">
      <article class="blog__post">
        <img src="<%= post.img %>" alt="" class="blog__post-img">
        <div class="blog__post-ident-wrapper">
          <h4 class="blog__post-title">
            <%= post.name %>
          </h4>
          <p class="blog__post-text">
            <%= post.text %></a>
          </p>
        </div>
      </article>
    </main>
  </div>

  <%- include('../partials/footer'); %>